<!--引入模板-->
{{ extend './public/layout.html' }}

<!--填充消息 对应模板页-head-->
{{ block 'head' }}
<style>
</style>
{{ /block}}

<!--填充消息 对应模板页-content-->
{{ block 'content' }}
    <div class="page-header">
        <h3>项目列表 <a href="/getItem">添加项目</a></h3>
    </div>
    {{each items item index}}
    <div>
        <a href="/getItem?id={{ item.id }}">{{ item.name }}</a>
        <a style="float: right;margin-left: 10px;" href="/delitem?id={{ item.id }}"><span class="label label-danger td-span">删除</span></a>
        {{if item.status == '1'}}<a style="float: right;margin-left: 10px;"><span class="label label-success td-span">启用</span></a>{{/if}}
        {{if item.status == '0'}} <a style="float: right;margin-left: 10px;"><span class="label label-danger td-span">停用</span></a>{{/if}}
    </div>
    <hr>
    {{/each}}
{{ /block}}
<!--填充消息 对应模板页-script-->
{{ block 'script' }}
{{ /block}}