<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>模板页</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../public/css/sticky-footer-navbar.css">
    {{ block 'head' }}{{ /block }}
</head>
<!--模板-->
<body>
    <!--头部-->
    {{ include './header.html' }}
    <!--填充内容-->
    <div class="container">
    {{ block 'content' }}
        <h3>暂无内容</h3>
    {{ /block }}
    </div>
    <!--尾部-->
    {{ include './footer.html' }}

    <script src="../node_modules/jquery/dist/jquery.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
    {{ block 'script' }}{{ /block }}
</body>
</html>