<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录</title>
    <link rel="stylesheet" href="../public/css/login.css">
</head>
<body>
    <div class="login">
        <h1>login</h1>
        <form class="" action="/login" method="POST">
            <div class="">
                <input type="text" class="input" required="" autocomplete="off" name="account">
                <label class="lable">username</label>
            </div>
            <div class="">
                <input type="password" class="input pass_input" required="" name="pwd">
                <label class="lable pass_lable">password</label>
            </div>
            <p class="prompt"></p>
            <input type="submit" name="" value="submit" class="submit">
        </form>
    </div>
</body>
</html>