<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册</title>
    <link rel="stylesheet" href="../public/css/login.css">
</head>
<body>
    <div class="login">
        <h1>login</h1>
        <form class="" id="register_from" action="/register" method="POST">
            <div class="">
                <input type="text" name="username" class="input" required="" autocomplete="off">
                <label class="lable">username</label>
            </div>
            <div class="">
                <input type="password" name="password" class="input pass_input" required="">
                <label class="lable pass_lable">password</label>
            </div>
            <p class="prompt"></p>
            <input type="submit" name="" value="submit" class="submit">
        </form>
    </div>
</body>
<script src="../node_modules/jquery/dist/jquery.js"></script>
<script>
    $("#register_from").on('submit',function(e){
        e.preventDefault()
        //表单序列化
        var formData =$(this).serialize()
        console.log(formData)
        $.ajax({
            type:'post',
            url:'/register',
            data:formData,
            dataType:'json',
            success:function(data){
                console.log(data)
            },
            error:function(e){
                $('.prompt').text("请求失败!")
                console.log(e)
            }
        })
    })
</script>
</html>