<!--引入模板-->
{{ extend './public/layout.html' }}

<!--填充消息 对应模板页-head-->
{{ block 'head' }}
<style>
.table-responsive{
    display: none;
    margin-top: 15px;
}
.btn-sm{
    float: right;
    top: 10px;
    margin-left: 10px;
}
</style>
{{ /block}}

<!--填充消息 对应模板页-content-->
{{ block 'content' }}
    <div class="page-header">
        <h3>所有表</h3>
    </div>
    {{each tables table index}}
    <div style="margin: 20px 0px;">
        表名：<a href="javascript:void(0);"> {{table.tableName }}</a>
        <span style="margin-left: 20px;">表注释：{{ table.tableDirections }}</span>
        <button class="btn btn-sm" type="button" onclick="showfieids('{{ index }}','{{table.tableName}}')">展开字段</button>
        <button class="btn btn-sm" type="button" onclick="tableCode({{table}})">生成代码</button>
        <!-- 响应式表格 .table-responsive -->
        <div class="table-responsive fieidstable{{index}}" class="">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>备注</th>
                        <th>字段名</th>
                        <th>字段类型</th>
                    </tr>
                </thead>
                <tbody class="tbody{{index}}">

                </tbody>
            </table>
        </div>

    </div>
    <hr>
    {{/each}}
{{ /block}}
<!--填充消息 对应模板页-script-->
{{ block 'script' }}
<script>
var tableshow = 0
function showfieids(index,tableName){
    if(tableshow == 1){
        tableshow = 0
        $('.fieidstable'+index).hide()
        return
    }
    $.ajax({
        url: "/allTablefieids?tableName="+tableName,
        dataType: "json", 
        async: true, 
        type: "get", 
        success: function (fieids) { 
            tableshow = 1
            var tabletext = ""
            fieids.forEach(fieid => {
                tabletext+="<tr><td>"+fieid.COLUMN_COMMENT+"</td> <td>"+fieid.COLUMN_NAME+"</td> <td>"+fieid.DATA_TYPE+"</td>  </tr>"
            });
            $('.tbody'+index).html(tabletext)
            $('.fieidstable'+index).show()
        },
        error: function (errorInfo) {
            console.log(errorInfo)
            alert("异常信息，稍后重试");
        }
    });
}
function tableCode(tableobj){
    console.log(tableobj)
    var res=confirm("确定生成？");
    if (res==true)
    {
       $.ajax({
           url: "/tableCode",
           dataType: "text", 
           async: true, 
           data: tableobj,
           type: "post", 
           success: function (res) { 
               alert(res);
           },
           error: function (errorInfo) {
               console.log(errorInfo)
               alert("异常信息，稍后重试");
           }
       });
    }
}
</script>
{{ /block}}